# Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.


a = 0           # a is global and equal to 0
def b():        # Function b is defined
 global a       # Declares that 'a' is the global variable 'a'
 a = c(a)       # Calls function c() with the current value of 'a', and updates 'a' with the returned value
def c(a):       # Function c is defined with argument 'a'
 return a + 2   # Returns 'a' incremented by 2

Explanation of execution:

b() is called, a is 0, so c(0) returns 0 + 2 = 2, updating a to 2.
b() is called again, a is now 2, so c(2) returns 2 + 2 = 4, updating a to 4.
b() is called once more, a is now 4, so c(4) returns 4 + 2 = 6, updating a to 6.

After these function calls, the value of a is 6. Therefore, when the last expression a is evaluated, it will display the value of 6.

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'

    As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [4]:
def fileLength(filename):
    # defines the function fileLength that takes the name of a file as inout and returns the length of the file
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        # executed only if the FileNotFoundError is raised
        print(f"File {filename} not found.")

# below will test the function
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [5]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Test the classes
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [6]:
def collatz(x):
    # Print the current number in the sequence
    print(x)
    
    # Base case: if x is 1, stop the sequence
    if x == 1:
        return
    
    # If x is even, divide it by 2 and continue the sequence
    elif x % 2 == 0:  
        collatz(x // 2)
    
    # If x is odd, multiply it by 3, add 1, and continue the sequence
    else:  
        collatz(3 * x + 1)

# Test the function
collatz(1)
print()
collatz(10)

1

10
5
16
8
4
2
1

# Question 5 

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [7]:
def binary(n):
    # Base case: when n is 0, print 0
    if n == 0:
        print(0, end='')
        return
    # Base case: when n is 1, print 1
    elif n == 1:
        print(1, end='')
        return
    # Recursive case: divide n by 2 and call binary() on the quotient
    binary(n // 2)
    # Print the remainder of dividing n by 2 (the binary representation)
    print(n % 2, end='')

# Test the function
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [11]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag (starts with 'h') and the rest are digits
        if tag.startswith('h') and tag[1:].isdigit():
            # Calculate indentation based on heading level
            self.indentation = int(tag[1:]) - 1

    def handle_data(self, data):
        # Check if data is non-empty and indentation is valid
        if data.strip() and self.indentation >= 0:
            # Print data with appropriate indentation
            print(' ' * self.indentation + data)

# HTML content
html_content = """
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Change_me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>W3C Mission</h1>
	<h2>Principles</h2>
</body>
</html>
"""

# Create instance of HeadingParser and parse HTML content
hp = HeadingParser()
hp.feed(html_content)

Change_me
W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [15]:
from urllib.request import urlopen
from urllib.parse import urljoin
from bs4 import BeautifulSoup
from urllib.error import HTTPError

def webdir(url, depth, indent):
    try:
        # Fetch the HTML content of the given URL
        response = urlopen(url)
        html = response.read()

        # Parse the HTML content using BeautifulSoup
        soup = BeautifulSoup(html, 'html.parser')

        # Print the URL with appropriate indentation
        print(' ' * indent + url)

        # Base case: if depth is 0, return
        if depth == 0:
            return

        # Recursive case: visit each link in the page and call webdir recursively
        for link in soup.find_all('a', href=True):
            # Construct the absolute URL of the link
            absolute_url = urljoin(url, link['href'])
            # Call webdir recursively with reduced depth and increased indentation
            webdir(absolute_url, depth - 1, indent + 1)
    except HTTPError as e:
        # Print error message with appropriate indentation
        print(' ' * indent + f"Error: {e}")
        # Continue with the traversal by ignoring the current URL
        return

# Test the function
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error: HTTP Error 404:

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City	 Country	        Season	    Temperature (C)	Rainfall (mm)
Mumbai	 India	            Winter	    24.8	        5.9
Mumbai 	 India 	            Spring    	28.4 	        16.2
Mumbai   India 	            Summer 	    27.9 	        1549.4
Mumbai   India 	            Fall 	    27.6 	        346.0
London 	 United Kingdom 	Winter   	4.2 	        207.7
London 	 United Kingdom 	Spring 	    8.3 	        169.6
London 	 United Kingdom 	Summer 	    15.7            157.0
London 	 United Kingdom 	Fall 	    10.4 	        218.5
Cairo    Egypt 	            Winter 	    13.6 	        16.5
Cairo 	 Egypt 	            Spring 	    20.7 	         6.5
Cairo 	 Egypt 	            Summer 	    27.7 	         0.1
Cairo 	 Egypt              Fall 	    22.2 	         4.5

In [19]:
import sqlite3  # Import the sqlite3 module to interact with SQLite database

# Connect to the SQLite database or create it if it doesn't exist
conn = sqlite3.connect('weather_data.db')
cursor = conn.cursor()  # Create a cursor object to execute SQL commands

# Create the 'weather' table if it doesn't already exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

# Insert data into the 'weather' table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
cursor.executemany('INSERT INTO weather VALUES (?, ?, ?, ?, ?)', data)  # Execute the insert command

# Commit changes to the database
conn.commit()

# Execute SQL queries to retrieve data from the 'weather' table
# and print the results

# a) All the temperature data.
cursor.execute('SELECT Temperature FROM weather')
temperature_data = cursor.fetchall()
print("All the temperature data:")
for temp in temperature_data:
    print(temp[0])

# b) All the cities, but without repetition.
cursor.execute('SELECT DISTINCT City FROM weather')
cities = cursor.fetchall()
print("\nAll the cities, but without repetition:")
for city in cities:
    print(city[0])

# c) All the records for India.
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_records = cursor.fetchall()
print("\nAll the records for India:")
for record in india_records:
    print(record)

# d) All the Fall records.
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("\nAll the Fall records:")
for record in fall_records:
    print(record)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute("""
    SELECT City, Country, Season
    FROM weather
    GROUP BY City, Country, Season
    HAVING AVG(Rainfall) BETWEEN 200 AND 400
""")
rainfall_records = cursor.fetchall()
print("\nThe city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for record in rainfall_records:
    print(record)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute("""
    SELECT City, Country
    FROM weather
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature)
""")
temperature_above_20 = cursor.fetchall()
print("\nThe city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for record in temperature_above_20:
    print(record)

# g) The total annual rainfall for Cairo.
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()[0]
print("\nThe total annual rainfall for Cairo:", total_rainfall_cairo, "millimeters")

# h) The total rainfall for each season.
cursor.execute("""
    SELECT Season, SUM(Rainfall) AS TotalRainfall
    FROM weather
    GROUP BY Season
""")
total_rainfall_seasons = cursor.fetchall()
print("\nThe total rainfall for each season:")
for record in total_rainfall_seasons:
    print(record)

# Close the database connection
conn.close()

All the temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

All the cities, but without repetition:
Mumbai
London
Cairo

All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

The total annual rainfall for Cairo: 55.2 millimeters

The total rainfall for each season:
('Fall', 1138.0)
('Spring', 384.59999999999997)
('Summer', 3413.0)
('Winter', 460.2)

# Question 9

Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [20]:
# Define the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Use list comprehension to capitalize each word
capitalized_words = [word.upper() for word in words]

# Print the resulting list
print(capitalized_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [21]:
# Define the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Use list comprehension to convert each word to lowercase
lowercase_words = [word.lower() for word in words]

# Print the resulting list
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [22]:
# Define the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Use list comprehension to get the lengths of each word
word_lengths = [len(word) for word in words]

# Print the resulting list
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [23]:
# Define the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Use list comprehension to generate sublists for each word
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

# Print the resulting list
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [24]:
# Define the list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# Use list comprehension to filter words with 4 or more characters
long_words = [word for word in words if len(word) >= 4]

# Print the resulting list
print(long_words)

['quick', 'brown', 'jumps', 'over', 'lazy']